{% extends "layout.html" %}
{% block content %}
<h2>Dashboard</h2>
<div class="list-group">
    <a href="/admin/education" class="list-group-item list-group-item-action">Education</a>
    <a href="/admin/projects" class="list-group-item list-group-item-action">Projects</a>
    <a href="/admin/skills" class="list-group-item list-group-item-action">Skills</a>
    <a href="/admin/certifications" class="list-group-item list-group-item-action">Certifications</a>
    <a href="/admin/social_links" class="list-group-item list-group-item-action">Social Links</a>
    <a href="/admin/messages" class="list-group-item list-group-item-action">Messages</a>
</div>
{% endblock %}
